<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mvg.mappers.cancellationByUserMapper">

	<select id="getCListByUserId" parameterType="String" resultType="CancellationByUser">
	select  distinct
			t.theater_name as theater_name,
			m.movie_title_kr as movie_name,
			nm.movie_time as movie_time,
			c.cancel_date as cancel_date
	from 	movies m, theaters t, nowmovies nm,
			cancellations c, seatinfo si
	where 	c.seat_id = si.seat_id
		and si.nowmovie_id = nm.nowmovie_id
		and nm.theater_id = t.theater_id
		and nm.movie_code = m.movie_code
		and c.user_id=#{userId}
	order by c.cancel_date
	</select>

</mapper>