<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.mvg.mappers.commentMapper">
  
  <insert id="insertComment" parameterType="Comment">
  	insert into comments (board_id, user_id, comment_content)
  	values (#{boardId}, #{userId}, #{commentContent})
  </insert>
  </mapper>