<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.mvg.mappers.customerBoardMapper">
  <select id="selectAllBoard" resultType="CustomerBoard">
  	select board_id, user_id, board_title, board_content, board_date
    from customerboards
  </select>
  
  </mapper>
  
  