<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mvg.mappers.evaluationMapper">
	<insert id="insertEvaluation" parameterType="Evaluation">
		insert into evaluations (user_id, movie_code, ev_rating) values
		(#{userId}, #{movieCode}, #{evRating})
		<selectKey keyProperty="evId" resultType="integer" order="AFTER">
			select SEQ_evals_ev_id.currval
			from dual
		</selectKey>
	</insert>
	
	<select id="selectEvaluationById" resultMap="ComplexMovieEvaluation"> 
		select m.movie_code, m.movie_title_kr, m.movie_title_eng, m.movie_director, m.movie_open_date, 
		m.movie_img_url, m.movie_genre, e.ev_id, e.user_id, e.movie_code, e.ev_rating, e.ev_comment 
		from evaluations e left join movies m on(m.movie_code = e.movie_code) 
		where user_id= #{userId} </select>
		<resultMap id="ComplexMovieEvaluation" type="Evaluation">
			<id property="evId" jdbcType="INTEGER" column="ev_id"/>
			<result property="userId" jdbcType="VARCHAR" column="user_id"/>
			<result property="movieCode" jdbcType="VARCHAR" column="movie_code"/>
			<result property="evRating" jdbcType="VARCHAR" column="ev_rating"/>
			<result property="evComment" jdbcType="VARCHAR" column="ev_comment"/>
				<collection property="movies" ofType="Movie">
				<id property="movieCode" jdbcType="VARCHAR" column="movie_code"/>
				<result property="movieTitleKr" jdbcType="VARCHAR" column="movie_title_kr"/>
				<result property="movieTitleEng" jdbcType="VARCHAR" column="movie_title_eng"/>
				<result property="movieDirector" jdbcType="VARCHAR" column="movie_director"/>
				<result property="movieOpenDate" jdbcType="VARCHAR" column="movie_open_date"/>
				<result property="movieImgUrl" jdbcType="VARCHAR" column="movie_img_url"/>
				<result property="movieGenre" jdbcType="VARCHAR" column="movie_genre"/>
				</collection>
		</resultMap>
	<!-- 별점매긴 것인지 확인하기 위한것 -->
	<select id="selectEvaluationByMovieCode" parameterType="String"
		resultType="Evaluation">
		select *
		from evaluations
		where movie_code=#{movieCode} and
		user_id=#{userId}
	</select>
	
	<!-- ev_id를 가져오는것 -->
	<select id="selectEvId" parameterType="Evaluation" resultType="Integer">
		select ev_id
		from evaluations
		where movie_code=#{movieCode} and
		user_id=#{userId}
	</select>
	
	<!-- 하나의 영화의 전체 평가가져오는것 -->
	<select id="selectAllEvaluation" parameterType="Evaluation"
		resultType="Evaluation">
		select *
		from evaluations
		where movie_code=#{movieCode}
	</select>
	
	<!-- comment 있는 update -->
	<update id="updateEvaluation" parameterType="Evaluation">
		update evaluations
		set user_Id=#{userId}, ev_rating=#{evRating},
		ev_comment=#{evComment}
		where ev_id=#{evId}
	</update>
	
	<!-- 코멘트 추가 및 업데이트 -->
	<update id="updateCommentEvaluation" parameterType="Evaluation">
		update evaluations
		set ev_comment=#{evComment}
		where ev_id=#{evId}
	</update>
	
	<!-- comment 없는 update -->
	<update id="updateRating" parameterType="Evaluation">
		update evaluations set
		ev_rating=#{evRating}
		where ev_id=#{evId}
	</update>
	
	<delete id="deleteEvaluation" parameterType="INTEGER">
		delete from
		evaluations
		where ev_id = #{evId}
	</delete>
	
	<delete id="deleteEvaluationByUserId" parameterType="String">
		delete from
		evaluations
		where user_id = #{userId}
	</delete>
</mapper>