<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mvg.mappers.evaluationMapper">
 <insert id = "insertEvaluation" parameterType = "Evaluation">
  	insert into evaluations (user_id, movie_code, ev_rating) values (#{userId}, #{movieCode}, #{evRating})
  </insert>
  	<select id="selectEvaluationByEvId" parameterType="INTEGER" resultType="Evaluation">
		select *
		from evaluations where
		ev_id=#{evId}
	</select>
	<update id="updateEvaluation" parameterType="INTEGER">
		update evaluations set ev_comment=#{evComment}, ev_rating=#{evRating}
		where ev_id=#{evId}
	</update>

</mapper>