<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mvg.mappers.movieMapper">
	<select id="getAllMovieCount" resultType="Integer" >
		select count(*) from movies
	</select>
	
	<select id="getAllMovies" resultType="Movie">
		select movie_code, movie_title_kr, movie_title_eng, movie_genre, 
		movie_director, movie_actor1, movie_actor2, movie_actor3, 
		movie_img_url, movie_story 
		from movies
	</select>
	
	<select id="randomGetAllMovies" resultType="Movie">
		select movie_code, movie_title_kr, movie_title_eng, movie_genre, 
		movie_director, movie_actor1, movie_actor2, movie_actor3, 
		movie_img_url, movie_story 
		from movies
		order by DBMS_RANDOM.VALUE
	
	</select>
	
	<select id="getMovieByMovieCode" parameterType="String" resultType="Movie">
		select * from movies where movie_code=#{movieCode}
	</select>
	
	<select id="getMovieThumbnail" parameterType="String" resultType="String">
		select movie_img_url from movies where movie_code=#{movieCode}
	</select>
	
	<insert id="insertMovie" parameterType="Movie">
		insert into movies()
	</insert>
	
	<update id="updateMovie" parameterType="Movie">
		update movies set movie_code=#{movieCode},
		movie_title_kr=#{movieTitleKr}, movie_title_eng=#{movieTitleEng},
		movie_genre=#{movieGenre}, movie_director=#{movieDirector},
		movie_actor1=#{movieActor1}, movie_actor2=#{movieActor2},
		movie_actor3=#{movieActor3}, movie_img_url=#{movieImgUrl}
	</update>
	
	<delete id="deleteMovie" parameterType="String">
		delete from movies where movie_code=#{movieCode}
	</delete>


</mapper>