<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mvg.mappers.wishlistMapper">
<insert id="insertWishlist" parameterType="Wishlist">
  	insert into wishlists (movie_code, user_id) values (#{movieCode}, #{userId})
	</insert>
	<select id="getWishlistByUserId" resultMap="ComplexMovieWish">
	select m.movieCode, m.movie_title_kr, m.movie_directior, 
	m.movie_genre, w.user_id, w.movie_code from movies m join wishlists w on(m.movieCode = w.movieCode) where user_id= #{userId}
	</select>
	<resultMap type="Wishlist" id="ComplexMovieWish">
		<id column="wish_id" jdbcType="INTEGER" property="wishId" />
		<result column="user_id" jdbcType="VARCHAR" property="userId" />
		<result column="movie_code" jdbcType="VARCHAR" property="movieCode" />
		<collection property="movies" ofType="Movie">
			<id column="movie_code" jdbcType="VARCHAR" property="movieCode" />
			<result column="movie_title_kr" jdbcType="VARCHAR" property="movieTitleKr" />
			<result column="movie_director" jdbcType="VARCHAR" property="movieDirectort" />
			<result column="movie_genre" jdbcType="VARCHAR" property="movieGenre" />	
		</collection>
	</resultMap>
</mapper>

