<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mvg.mappers.wishlistMapper">
<insert id="insertWishlist" parameterType="Wishlist">
  	insert into wishlists (movie_code, user_id) values (#{movieCode}, #{userId})
	</insert>
	<select id="getWishlistCntByUM" parameterType="String" resultType="Integer">
		select count(movie_code)
		from wishlists
		where movie_code=#{movieCode} and user_id=#{userId}
	</select>
	<select id="getWishlistByUserId" resultMap="ComplexMovieWish">
	select m.movie_code, m.movie_title_kr, m.movie_title_eng, m.movie_director, 
	m.movie_genre, w.wish_id, w.user_id, w.movie_code from wishlists w left join movies m on(m.movie_code = w.movie_code) where user_id= #{userId}
	</select>
	<resultMap type="Wishlist" id="ComplexMovieWish">
		<id column="wish_id" jdbcType="INTEGER" property="wishId" />
		<result column="user_id" jdbcType="VARCHAR" property="userId" />
		<result column="movie_code" jdbcType="VARCHAR" property="movieCode" />
		<collection property="movies" ofType="Movie">
			<id column="movie_code" jdbcType="VARCHAR" property="movieCode" />
			<result column="movie_title_kr" jdbcType="VARCHAR" property="movieTitleKr" />
			<result column="movie_title_eng" jdbcType="VARCHAR" property="movieTitleEng" />
			<result column="movie_director" jdbcType="VARCHAR" property="movieDirector" />
			<result column="movie_genre" jdbcType="VARCHAR" property="movieGenre" />	
		</collection>
	</resultMap>
	<delete id="deleteWishlist" parameterType="INTEGER">
		delete from wishlists
		where wish_id = #{wishId}
	</delete>
	<delete id="deleteWishlistByUserId" parameterType="String">
		delete from wishlists
		where user_id = #{userId}
	</delete>
</mapper>

