<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="oracle.properties">
	</properties>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<typeAliases>
		<typeAlias type="com.mvg.entity.Cancellation" alias="Cancellation" />
		<typeAlias type="com.mvg.entity.Comment" alias="Comment" />
		<typeAlias type="com.mvg.entity.CustomerBoard" alias="CustomerBoard" />
		<typeAlias type="com.mvg.entity.Evaluation" alias="Evaluation" />
		<typeAlias type="com.mvg.entity.Movie" alias="Movie" />
		<typeAlias type="com.mvg.entity.NowMovie" alias="NowMovie" />
		<typeAlias type="com.mvg.entity.Reservation" alias="Reservation" />
		<typeAlias type="com.mvg.entity.ReservationInfo" alias="ReservationInfo" />
		<typeAlias type="com.mvg.entity.SeatInfo" alias="SeatInfo" />
		<typeAlias type="com.mvg.entity.Theater" alias="Theater" />
		<typeAlias type="com.mvg.entity.User" alias="User" />
		<typeAlias type="com.mvg.entity.Wishlist" alias="Wishlist" />
		<typeAlias type="com.mvg.entity.ReservationInfo" alias="ReservationInfo" />
		<typeAlias type="com.mvg.entity.Evaluation" alias="Evaluation" />
		<typeAlias type="com.mvg.entity.Recommend" alias="Recommend" />
	</typeAliases>

	<mappers>
		<mapper resource="mappers/userMapper.xml" />
		<mapper resource="mappers/CustomerBoardMapper.xml"/>
		<mapper resource="mappers/CommentMapper.xml"/>
		<mapper resource="mappers/theaterMapper.xml" />
		<mapper resource="mappers/reservationMapper.xml" />
		<mapper resource="mappers/reservationInfoMapper.xml" />
		<mapper resource="mappers/recommendMapper.xml" />
		<mapper resource="mappers/movieMapper.xml" />
		<mapper resource="mappers/nowmovieMapper.xml" />
		<mapper resource="mappers/wishlistMapper.xml" />
		<mapper resource="mappers/evaluationMapper.xml" />	
		<mapper resource="mappers/seatinfoMapper.xml" />
	</mappers>
</configuration>
