@CHARSET "EUC-KR";

@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

* {
	font-family: '나눔고딕';
}

.table1 {
	margin: -60px auto auto auto;
	width: 1000px;
	/* table-layout: fixed; */
}

.table2 {
	margin: 0 auto;
	width: 1000px;
	/* table-layout: fixed; */
}

.table3{
	margin: 0 auto;
	width: 1000px;
	table-layout: fixed;
	text-align: center;
}

.h {
	color: #4F5D73;
}


label {
	display: inline-block;
	width: 150px;
	padding: 5px;
}

.but {
	margin: 0 auto;
	width: 2000px;
	height: 100%;
}

.table1 th {
	background: #4F5D73;
	text-align: center;
	color: #ffffff;
}

.table1 td {
	text-align: center;
}

.table2 th {
	background: #4F5D73;
	text-align: center;
	color: #ffffff;
}

.table2 td {
	width: 550px;
	text-align: center;
}

.div-button {
	background: #C75C5C;
	color: #F2F2F2;
	border: none;
	letter-spacing: 1px;
	padding: 0.5em;
	outline: none;
}
.img {
	padding-left: 770px;
}
