@CHARSET "UTF-8";

html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: NanumGothic, '나눔고딕', 'Nanum Gothic', '돋움', Dotum, '굴림',
		Gulim, Vernada, Arial, sans-serif !important;
	color: #484848;
}

html, h1, h2, h3, h4, h5, h6, dl, dt, dd, form, fieldset, img {
	margin: 0;
	padding: 0;
	font-family: NanumGothic, '나눔고딕', 'Nanum Gothic', '돋움', Dotum, '굴림',
		Gulim, Vernada, Arial, sans-serif !important;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
}

ul, ol, li {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: NanumGothic, '나눔고딕', 'Nanum Gothic', '돋움', Dotum, '굴림',
		Gulim, Vernada, Arial, sans-serif !important;
}

legend {
	position: absolute;
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	text-indent: -9999em;
	overflow: hidden;
}

label, input, button, select, img {
	vertical-align: middle;
	border: none;
}

button {
	cursor: pointer;
}

p {
	margin: 0;
	padding: 0;
	font-family: NanumGothic, '나눔고딕', 'Nanum Gothic', '돋움', Dotum, '굴림',
		Gulim, Vernada, Arial, sans-serif !important;
	word-break: break-all;
}

hr {
	display: none;
}

a, a:link, a:visited, a:hover, a:focus, a:active {
	text-decoration: none !important;
}

.hide {
	display: inline-block;
	position: absolute;
	top: -9999em;
	left: -9999em;
	line-height: 0;
	text-indent: -9999em;
	overflow: hidden;
}

.clearfix {
	*zoom: 1;
}

.clearfix:after {
	content: "";
	clear: both;
	display: block;
}

h1 {
	text-align: center;
	padding: 30px 0 10px;
}

h2 {
	padding-bottom: 10px;
}

.wrap {
	width: 800px;
	margin: 0 auto;
	border: 1px solid #ccc;
}

.set {
	padding: 20px 20px 30px 20px;
}

.peopleNum {
	float: left;
	width: 400px;
}

.peopleNum li {
	float: left;
	margin-right: 2px;
}

.peopleNum button {
	padding: 5px 10px;
	font-weight: normal;
	border: 1px solid #aaa;
}

.peopleNum .selected button {
	font-weight: bold;
	background: #444;
	color: #fff;
}

.peopleNum li:hover button {
	font-weight: bold;
	background: #444;
	color: #fff;
}

.seat {
	float: left;
}

.seat input {
	margin-top: -10px;
}

.seat label {
	font-size: 0;
	text-indent: -999em;
}

.seat span {
	display: inline-block;
	width: 11px;
	height: 11px;
	margin-right: 2px;
	border: 1px solid #aaa;
	background: #c9c9c9;
}

.seat .selected span {
	background: #fff;
}

.theaterMap .mapWrap {
	width: 450px;
	margin: 0 auto;
}

.theaterMap .screen {
	width: 480px;
	margin: 0 auto 10px;
	padding: 10px 0;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	border: 1px solid #aaa;
	background: #eee;
	cursor: default;
}

.theaterMap .map {
	padding: 2px 0;
}

.theaterMap .map .row {
	float: left;
	width: 20px;
	margin-right: 10px;
	font-weight: bold;
	text-align: center;
	line-height: 1.8em;
	color: #C75C5C;
}

.theaterMap .map .arrayNum {
	float: left;
	width: 420px;
}

.theaterMap .map .arrayNum button {
	padding: 4px 8px;
	margin: 0 1px;
	border: 1px solid #cacaca;
	background: #eee;
}

.theaterMap .map .arrayNum button:hover {
	background: #4F5D73;
}

.theaterMap .map .arrayNum button.selected {
	background: #4F5D73;
}

.theaterMap .map .arrayNum button.reserved {
	background: #4F5D73;
}

.theaterMap .map .arrayNum button.clicked {
	background: #C75C5C;
}

.theaterMap .map .arrayNum button:nth-of-type(4) {
	margin-right: 20px;
}

.charge {
	margin-top: 30px;
	padding: 30px;
	text-align: right;
	background: #444;
	color: #fff;
}

.charge label {
	font-size: 20px;
	margin-right: 5px;
}

.charge span {
	font-size: 15px;
}

.charge input {
	width: 100px;
	padding: 6px 5px;
	font-size: 18px;
	text-align: right;
}

.charge button {
	padding: 10px 15px;
	font-weight: bold;
}

.charge .refresh {
	margin-left: 20px;
	margin-right: 5px;
}

.charge .submitBtn {
	background: #0094d9;
	color: #fff;
}

.result {
	display: none;
	position: absolute;
	top: 200px;
	left: 50%;
	width: 300px;
	margin-left: -201px;
	padding: 30px 50px;
	text-align: center;
	background: #fff;
	border: 5px solid #0094d9;
}

.result table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

.result caption {
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 10px;
}

.result th, .result td {
	padding: 10px 0;
	text-align: center;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.result th {
	background: #eee;
}

.result td {
	padding: 10px 5px;
}

.result button {
	margin-top: 20px;
	padding: 10px 20px;
	font-weight: bold;
	border: 1px solid #09567a;
	background: #0094d9;
	color: #fff;
}

.result .seatResult td {
	padding: 10px 40px;
}

