@CHARSET "EUC-KR";
@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

* {
	font-family: '나눔고딕';
}

.list-table {
	margin: 0 auto;
}

.div-button {
	background: #C75C5C;
	color: #F2F2F2;
	border: none;
	letter-spacing: 1px;
	padding: 0.5em;
	outline: none;
}

.list-table table {
	margin: -20px auto 0 auto;
	table-layout: fixed;
	witdh: 740px;
	border: 1px;
	text-align: center;
}

.list-table th {
	background: #4F5D73;
	color: white;
	text-align: center;
	width: 55px;
	height: 20px;
	padding: 0.25em;
}
.list-table td {
	background: #F2F2F2;
	text-align: center;
}

.movies{
}


