@CHARSET "UTF-8";
@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

*{
	font-family:'나눔고딕';
}

header, section{
	text-align: center;
	width: 100%;
	height: 100%;
}

.main-div-1{
	margin: 0 300px;
	width: 700px;
	hegiht: 360px;
	padding:50px 10px;
	border: 1px solid;
	
}
.main-div-2{
	background: #e67e22;
	width: 350px;
	heghit: 360px;
	position: relative;
	border: 1px;		
	
}