@CHARSET "UTF-8";
@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

* {
	font-family: '나눔고딕';
}

.wrap {
	margin: 0 auto;
	width: 75%;
	height: 100%;
}

.main-box-1 {
	margin: 0 auto;
	float: left;
}
.main-box-2 {
	margin: 0 auto;
	text-align: center;
	width: 1000px;
	height: 300px;
	background: #F2F2F2;
}

.main-box-2 a{
	text-decoration: none;
}


.rank{
	color: #4F5D73;
}

/* .main-box-3{
	float: left;
	text-align: center;
	width : 600px;
	height: 360px;
	background: #274557;
}

.main-box-4 {
	margin: 0 auto;
	float: right;
	text-align: center;
	width: 450px;
	height: 360px;
	background: #C75D5C;
} */
	
