* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    color: #fff;
    background: #111;
    overflow: hidden;
}

.wrapper {
    position: absolute;
    width: 500%;
    height: 100%;
    z-index: 0;
}

/* Text */
h1{
    margin: -20px 0 0 0;
    padding: 0;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    color: rgba(245,243,240,0.5);
	font-family: Arial;
	font-weight: 300;
    font-size: 1.25em;
}

/* Header */
header {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    color: #fff;
    background: rgba(255,255,255,0.1);
    padding: 60px;
    width: 800px;
    height: 200px;
    margin: -200px 0 0 -400px;
    text-align: center;
}

header h1 span {
    font-weight: 200;
}

header p {
    font-family: Cambria, Georgia;
}

/* Video Pages */
.screen {
    position: relative;
    height: 100%;
    width: 20%; /*  NOTE: numVideos/100%  */;
    float: left;
    overflow: hidden;
}

.big-image {
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
}

.main-title {
    position: absolute;
    top: 15%;
    right: 33%;
    opacity: 0.7;
    margin: 40px 0 0 0;
    padding: 0;
    line-height: .65;
    font-size: 7em;
    text-transform: uppercase;
}



