@CHARSET "UTF-8";

body {
	width: 100%;
	overflow-y: hidden;
	background-color: #F2F2F2;
	color: #4F5D73;
}

#submenu {
	width: 30%;
	float: left;
}

.modify-form table {
	padding: 100px;
	margin: -5% auto auto auto;
}
.mygroup{
	width: 40%;
	min-width: 500px;
	border-radius: 4px;
	background: rgba(30, 30, 30, 0.1);
	padding: 20px;
	margin: -70px auto auto auto;
}

#modify-form-header {
	padding: 0 0 30px 0;
	font-size: 2.0em;
}

.modify-form label {
	display: inline-block;
	width: 100px;
	padding: 10px;
}

#userBirthday {
	width: 135px;
}

.div-button {
	background: #C75C5C;
	font-size: 1.0em;
	color: #F2F2F2;
	border: none;
	letter-spacing: 1px;
	padding: 0.5em;
	outline: none;
	margin: 30px 0 0 0;
}